:root {
    // brand colors
    --c-brand: #6208ea;
    --c-brand-light: #7523ef;
  
    // background colors
    --c-bg: #ffffff;
    --c-bg-light: #f3f4f5;
    --c-bg-lighter: #eeeeee;
    --c-bg-dark: #ebebec;
    --c-bg-darker: #e6e6e6;
    --c-bg-navbar: var(--c-bg);
    --c-bg-sidebar: var(--c-bg);
    --c-bg-arrow: #cccccc;
  
    // text colors
    --c-text: #332842;
    --c-text-accent: var(--c-brand);
    --c-text-light: #483661;
    --c-text-lighter: #5a3a86;
    --c-text-lightest: #653c9d;
    --c-text-quote: #999999;
  
    // border colors
    --c-border: #d7b9fe;
    --c-border-dark: #af8ddd;
  
    // custom container colors
    --c-tip: #6208ea;
    --c-details-bg: #f0f0f0;
  
    // badge component colors
    --c-badge-tip: var(--c-tip);
    --c-badge-warning: #ecc808;
    --c-badge-warning-text: var(--c-bg);
    --c-badge-danger: #dc2626;
    --c-badge-danger-text: var(--c-bg);
  
    // code blocks vars
    --code-bg-color: #282c34;
    --code-hl-bg-color: rgba(0, 0, 0, 0.66);
    --code-ln-color: #9e9e9e;
    --code-ln-wrapper-width: 3.5rem;
  
    // font vars
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  
    // layout vars
    --navbar-height: 3.6rem;
    --navbar-padding-v: 0.7rem;
    --navbar-padding-h: 1.5rem;
    --sidebar-width: 20rem;
    --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
    --content-width: 740px;
    --homepage-width: 960px;
  }

  html.dark {
    // brand colors
    --c-brand: #7a22fe;
    --c-brand-light: #8e42ff;
  
    // background colors
    --c-bg: #000000;
    --c-bg-light: #121212;
    --c-bg-lighter: #212121;
    --c-bg-dark: #111111;
    --c-bg-darker: #060606;
  
    // text colors
    --c-text: #e5ecf2;
    --c-text-light: #d1dbe4;
    --c-text-lighter: #b9c8d6;
    --c-text-lightest: #99adc0;
  
    // border colors
    --c-border: #2f006c;
    --c-border-dark: #21004d;
  
    // custom container colors
    --c-tip: #7a22fe;
    --c-details-bg: #1f152d;
  
    // badge component colors
    --c-badge-warning: var(--c-warning);
    --c-badge-warning-text: #3c2e05;
    --c-badge-danger: var(--c-danger);
    --c-badge-danger-text: #401416;
  
    // code blocks vars
    --code-hl-bg-color: #1f2024;
  }

  .pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
